@mixin btn($background-color, $color, $bold) {
  // Method that allows include
  background-color: $background-color;
  color: $color;
  border-radius: 50px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

  //   expresion with operators validations
  @if ($bold== "true") {
    font-weight: bolder;
  }
}

.main--screen__btn {
  &.main--screen__btn--color {
    @include btn($primary-color, $secondary-color, "true");

    &:hover {
      @include btn($secondary-color, $terciary-color, "true");
      box-shadow: $box-shadow;
    }
  }
}

@mixin nav($background-color, $color, $bold) {
  // Method that allows include
  // background-color: $background-color;
  // color: $color;
  border-radius: 50px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

  //   expresion with operators validations
  @if ($bold== "true") {
    font-weight: bolder;
  }
}
